<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLink="binding">Binding</a>
        <a class="nav-link active" routerLink="directive">Directives</a>
        <a class="nav-link active" routerLink="pipe">Pipes</a>
        <a class="nav-link active" routerLink="service1">Service</a>
        <a class="nav-link active" routerLink="service2">Http</a>
      </div>
    </div>
  </div>
</nav>
<h2>Angular App</h2>