<!--Interpolation-->
<h3>{{Title}}</h3>
<img class="imgg" src="{{imgUrl}}"/>
<!-- new line -->
<div class="text-center"><br>
<button class="btn btn-primary"  disabled={{btnStatus}}>Click Me</button></div>

<!--Property Binding-->
<h3>Property Binding</h3>
<img class="imgg" [src]="imgUrl"/>
<div class="text-center"><br>
<button class="btn btn-primary" [disabled]="btnStatus">Click Me</button>
</div><br>

<!--Event Binding-->
<div class="text-center">
<button class="btn btn-success" (click)="titleChange()">Execute</button>
</div>

<!--Two Way Data Binding-->
<div class="text-center"><br>
<input type="text" [(ngModel)]="username"/>
<h3>{{username}}</h3>
</div>

