<h2>Angular Services</h2>
<table class="table table-bordered">
    <tr class="bg-primary">
        <th>ID</th>
        <th>Name</th>
        <th>City</th>
        <th>Salary</th>
        <th>DOB</th>
        <th>Age</th>
    </tr>
    <tr *ngFor="let user of Data">
        <td>{{user.id}}</td>
        <td>{{user.name | uppercase}}</td>
        <td>{{user.city | lowercase}}</td>
        <td>{{user.salary | currency:'INR'}}</td>
        <td>{{user.dob |date: 'dd/MM/yyyy'}}</td>
        <td>{{user.dob | age}}</td>
    </tr>
</table>
